<!-- include header -->
<%- include('include/_header') %>
    <!-- include header-->

<main>
    <%- include('include/_sidebar') %>

        <section class="main-content">
            <div class="instruction">
                <h1 class="section-title">Discover Data by</h1>
                <p>Insert NIN and select the relevant agency to generate Data</p>
            </div>

            <input type="text" class="nin" placeholder="Enter NIN">
            <div class="container">
                <div class="box">
                    <div class="circle">
                        <i class="fa-solid fa-thumbs-up"></i>
                    </div>
                    <h2>Independent National Electoral Commission (INEC)</h2>
                </div>
                <div class="box">
                    <div class="circle">
                        <i class="fa-solid fa-id-card"></i>
                    </div>
                    <h2>National Identity Management Commission (NIMC)</h2>
                </div>
                <div class="box">
                    <div class="circle">
                        <i class="fa-solid fa-microphone"></i>
                    </div>
                    <h2>National Information Technology Development Agency (NITDA)</h2>
                </div>
                <div class="box">
                    <div class="circle">
                        <i class="fa-solid fa-car-burst"></i>
                    </div>
                    <h2>National Insurance Commission Agency (NAICOM)</h2>
                </div>
                <div class="box">
                    <div class="circle">
                        <i class="fa-solid fa-hands-holding-circle"></i>
                    </div>
                    <h2>National Pension Commission (PenCom)</h2>
                </div>
                <div class="box">
                    <div class="circle">
                        <i class="fa-solid fa-passport"></i>
                    </div>
                    <h2>Nigerian Immigration Service (NIS)</h2>
                </div>
                <div class="box">
                    <div class="circle">
                        <i class="fa-solid fa-person-chalkboard"></i>
                    </div>
                    <h2>Teachers Registration Council of Nigeria (TRCN)</h2>
                </div>
                <div class="box">
                    <div class="circle">
                        <i class="fa-solid fa-graduation-cap"></i>
                    </div>
                    <h2>Joint Admission Matriculation Board (JAMB)</h2>
                </div>
            </div>
        </section>
</main>

<!-- include footer -->
<%- include('include/_footer') %>
<!-- include footer-->