<!-- include header -->
<%- include('include/_header') %>
<!-- include header-->

<main>
    <%- include('include/_sidebar') %>

    <section class="main-content">
        <div class="instruction">
            
            <h1 class="section-title">Welcome <%= locals.user %> to the Federal Government of Nigeria National Data Center</h1>
            <p>You can search for information on any individual using the National Identity Number (NIN)</p>
            <h2>Use the navigation on the sidebar to Discover data</h2>
        </div>

       
    </section>
</main>

<!-- include footer -->
<%- include('include/_footer') %>
<!-- include footer-->